---
layout: default
title: Shop
permalink: /shop/
pinned: true
index: true
#no-header: true
referrer: no-referrer
description: Browser avaialble merchandise and memorabilia for the Isabella Lake Fishing Derby
tags:
  - events
  - lake isabella
  - isabella lake
  - fishing derby
  - kern valley
  - kern river valley
  - shop
  - merchandise
---
<div class="status-box info">This part will take a while to build, and I'm not sure if it will be possible to connect to the current store without entirely replacing it.</div>
<section id="product-gallery" class="grid">
	{% for product in site.products %}
		{% include ecom/product-listing.html product=product.product url=product.url %}
	{% endfor %}
</section>
{% include common/share-buttons.html facebook=true twitter=true reddit=true linkedin=true %}
